<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/Css/mui.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Css/Default.css" />
    <script src="~/scripts/mui.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="~/scripts/Default.js"></script>
    @RenderSection("style", false)
</head>
<body>
    <div class="top">
        @RenderBody()
    </div>
    <div class="nav">
        <div title="首页推荐"><a href="@Url.Action("Index","Home")"><i class="fa fa-home fa-2x"></i></a></div>
        <div title="文章浏览"><a href="@Url.Action("Index","ContentList")"><i class="fa fa-list fa-2x"></i></a></div>
        <div title="Demo展示"><a href="@Url.Action("Index","Exhibition")"><i class="fa fa-window-restore fa-2x"></i></a></div>
    </div>
    <script>
        $(".nav div").css("line-height", ($(".nav").height() + 15) + "px")
    </script>
    @RenderSection("Script", false)
</body>
</html>
