@model IEnumerable<Testboker.Model.ContentList>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContentItem</title>
    <link href="~/Content/Css/Content.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/Default.js"></script>
    <script src="~/scripts/xcConfirm/xcConfirm.js"></script>
    <link href="~/scripts/xcConfirm/Css/xcConfirm.css" rel="stylesheet" />
</head>
<body>
    <div class="ItemMain"> 
        <ul>
            <li><label>标&nbsp;&nbsp;&nbsp;&nbsp;题：</label><input type="text" value="" class="Title" /></li>
            <li><label>作&nbsp;&nbsp;&nbsp;&nbsp;者：</label><input type="text" value="" class="Author" /></li>
            <li>
                <label>是否展示：</label><input type="radio" id="IsShowY" class="IsShow" name="IsShow" /><label for="IsShowY">是</label>
                <input type="radio" id="IsShowN" class="IsShow" name="IsShow" /><label for="IsShowN">否</label>
            </li>
            <li><label>配&nbsp;&nbsp;&nbsp;&nbsp;图：</label><img src="" class="Img" /></li>
            <li><label>标&nbsp;&nbsp;&nbsp;&nbsp;签：</label><input type="text" value="" class="Label" /><span>*多个标签用逗号(,)隔开</span></li>
            <li><label>内&nbsp;&nbsp;&nbsp;&nbsp;容：</label><textarea class="Content"></textarea></li>
        </ul>
        <div class="BtnBox">
            <input type="button" class="BtnOk" value="保存" />
            <input type="button" class="BtnNo" value="取消" onclick="Javascript: history.go(-1);"/>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            if(@Model.Count()>0)
            {
                $(".Title").val("@Model.First().Title")
                $(".Author").val("@Model.First().Author")
                $(".Img").attr("src","../Content/ContentImg/@Model.First().Img")
                $(".Label").val("@Model.First().Label")
                $(".Content").text("@Model.First().Content")
                if("@Model.First().IsShow"=="True")
                    $("#IsShowY").checked=true;
                else
                    $("#IsShowN").checked=true;
            }


            $(".BtnOk").click(function () {
                $.ajax({
                    url: "@Url.Action("EditContent", "ContentList")",
                    type: "post",
                    data: {
                        id: @Model.First().Id,
                        Title: $(".Title").val(),
                        Img: $(".Img").val(),
                        Label: $(".Label").val(),
                        Author:$(".Author").val(),
                        IsShow:$("#IsShowN").checked==true?1:0
                    },
                    success: function (result) {

                    }
                })
            })
        })
    </script>
</body>
</html>
