@model Testboker.admin.Models.ListViewModel
@using Webdiyer.WebControls.Mvc;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/Index.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/Default.js"></script>
</head>
<body>
    <div class="Main">
        <div class="Select">
            <select class="SelectType">
                <option value="0">全部</option>
                <option value="1">标题</option>
                <option value="2">内容</option>
                <option value="3">标签</option>
            </select>
            <input class="ItemMain" type="text" />
            <label>添加时间：</label><input class="AddTime" type="text" />
            <input type="button" class="SaveBut" value="查询" />
            <input id="IsShow" class="IsShow" type="checkbox" /><label for="IsShow">屏蔽不展示内容</label>
        </div>
        <div class="ContentLists">
            <table class="ContentList">
                <tr class="TableTiTle">
                    <td>ID</td>
                    <td>标题</td>
                    <td>图片</td>
                    <td>标签</td>
                    <td>上传时间</td>
                    <td>是否展示</td>
                    <td>操作</td>
                </tr>
                @foreach (var item in Model.ContentList)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Img</td>
                        <td>@item.Label</td>
                        <td>@item.Time</td>
                        <td>@Html.Encode(item.IsShow ? "是" : "否")</td>
                        <td class="Operation" width="80px">
                            <a class="Edit" href="#"><i class="fa fa-pencil"></i></a>
                            <a class="Save hides" href="#"><i class="fa fa-check"></i></a>
                            <a class="ThisMain" href="#"><i class="fa fa-list"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="Foot">
            <span class="Page">当前 @(Model.ContentList.CurrentPageIndex)页/共@(Model.ContentList.TotalItemCount/Model.ContentList.PageSize)页</span>
            <span>每页&nbsp;<input type="text" class="PageItems" readonly="readonly" value="@Model.PageItems"/>行&nbsp;</span>
            @Html.Pager(Model.ContentList, new PagerOptions {
                NumericPagerItemCount = 5,
                PageIndexParameterName = "pageIndex",//控制器参数
                ContainerTagName = "span",//分页容器形式（默认好像是div）
                CssClass = "NumPager",//容器css class
                ShowMorePagerItems = false,//“更多”按钮不显示
                CurrentPagerItemTemplate = "<span class=\"current\">{0}</span>",//当前按钮 模版
                DisabledPagerItemTemplate = "<span class=\"disable\">{0}</span>",//不可用按钮 模版
                PagerItemTemplate = "<span class=\"able\">{0}</span>",//可用按钮 模版
                FirstPageText = "首页",
                PrevPageText = "上一页",
                NextPageText = "下一页",
                LastPageText = "末页",
                PageIndexBoxId = "pagebox",
                GoToButtonId = "goBtn"
            })
            <span class="IsPageGo"><input type="text" class="IsPage" /><input type="button" value="GO" class="PageGo"/></span>
        </div>
    </div>

<style type="text/css">
.Display {
    pointer-events: none;
}
</style>

<script type="text/javascript">
    $(function () {
        if (Cookie.get("ContentListShow") == 1)
            $("#IsShow").attr("checked", "true")
        else
            $("#IsShow").attr("checked", "false")
        $("#IsShow").click(function () {
            Cookie.set("ContentListShow", $("#IsShow").prop("checked")?"1":"0", "")
        })
        $(".Edit").click(function () {
            var Rows = $(this).parents("tr").children();
            var IsEdit = $(this).children("i").hasClass("fa-pencil");
            for (var i = 1; i < Rows.length - 1; i++) {
                $(Rows[i]).width($(Rows[i]).width())
                if (IsEdit)
                    $(Rows[i]).html("<input class='td" + i + "' type='text' value='" + $(Rows[i]).html() + "'  style='width:100%' />")
                else
                    $(Rows[i]).html($(Rows[i]).children("input").val())
            }
            if (IsEdit) {
                $(this).children("i").removeClass("fa-pencil").addClass("fa-remove")
                $(".Save").show(); $(".ThisMain").hide();
            }
            else{
                $(this).children("i").removeClass("fa-remove").addClass("fa-pencil")
                $(".Save").hide(); $(".ThisMain").show();
            }
        })
        $(".SaveBut").click(function(){
            location.href="@Url.Action("Index", "ContentList")"
        })
        $(".PageGo").click(function () {
            location.href = "@Url.Action("Index", "ContentList")?page=" + $(".IsPage").val();
        })
        var IsPageItems = 0;
        $(".PageItems").click(function () {
            IsPageItems = $(".PageItems").val();
            $(this).removeAttr("readonly")
        })
        $(".PageItems").blur(function () {
            if (IsPageItems != $(".PageItems").val())
            {
                location.href = "@Url.Action("Index", "ContentList")?pageItems=" + $(".PageItems").val();
            }
            $(this).attr("readonly", "readonly")
        })
    })
</script>
</body>
</html>
