@model Testboker.admin.Models.ListViewModel
@using Webdiyer.WebControls.Mvc;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/Index.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/Default.js"></script>
    <script src="~/scripts/xcConfirm/xcConfirm.js"></script>
    <link href="~/scripts/xcConfirm/Css/xcConfirm.css" rel="stylesheet" />
</head>
<body>
    <div class="Main">
        <div class="Select">
            <select class="SelectType">
                <option value="0">全部</option>
                <option value="1">标题</option>
                <option value="2">内容</option>
                <option value="3">标签</option>
            </select>
            <input class="ItemMain" type="text" />
            <label>添加时间：</label><input class="AddTime" type="text" />
            <input type="button" class="SaveBut" value="查询" />
            <input id="NotIsShow" class="NotIsShow" type="checkbox"/><label for="NotIsShow">屏蔽不展示内容</label>
            <a class="AddContent" href="@Url.Action("ContentItem","ContentList")" title="新增文章">新增</a>
        </div>
        <div class="ContentLists">
            <table class="ContentList">
                <tr class="TableTiTle">
                    <td>ID</td>
                    <td>标题</td>
                    <td>图片</td>
                    <td>标签</td>
                    <td>上传时间</td>
                    <td>最后修改时间</td>
                    <td>操作</td>
                </tr>
                @foreach (var item in Model.ContentList)
                {
                    <tr class="tr@(item.Id)">
                        <td>@(Model.ContentList.IndexOf(item) + (Model.ContentList.CurrentPageIndex - 1) * Model.ContentList.PageSize+1)</td>
                        <td><input type="text" readonly="readonly" class="Title" value="@item.Title"/></td>
                        <td><input type="text" readonly="readonly" class="Img" value="@item.Img" /></td>
                        <td><input type="text" readonly="readonly" class="Label" value="@item.Label" /></td>
                        <td>@item.Time</td>
                        <td>@item.LastTime</td>
                        <td class="Operation" width="80px" id="@(item.Id)">
                            <a class="IsShowOne" title="@Html.Encode(item.IsShow ? "隐藏" : "展示")" id="@item.Id" isShow="@((!item.IsShow).ToString())"><i class='fa @Html.Encode(item.IsShow ? "fa-ban" : "fa-check-square-o")'></i></a>
                            <a class="Edit" href="#" title="修改"><i class="fa fa-pencil"></i></a>
                            <a class="Save hides" href="#" title="确认修改"><i class="fa fa-check"></i></a>
                            <a class="ThisMain" href="@Url.Action("ContentItem","ContentList",new {id=item.Id })" title="详情/修改"><i class="fa fa-list"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="Foot">
            <span class="Page">当前第@(Model.ContentList.CurrentPageIndex)页/共@(Model.ContentList.TotalItemCount/Model.ContentList.PageSize)页</span>
            <span>每页&nbsp;<input type="text" class="PageItems" readonly="readonly" value="@Model.PageItems"/>行&nbsp;/共@(Model.ContentList.TotalItemCount)条记录</span>
            @Html.Pager(Model.ContentList, new PagerOptions {
                NumericPagerItemCount = 5,
                PageIndexParameterName = "pageIndex",//控制器参数
                ContainerTagName = "span",//分页容器形式（默认好像是div）
                CssClass = "NumPager",//容器css class
                ShowMorePagerItems = false,//“更多”按钮不显示
                CurrentPagerItemTemplate = "<span class=\"current\">{0}</span>",//当前按钮 模版
                DisabledPagerItemTemplate = "<span class=\"disable\">{0}</span>",//不可用按钮 模版
                PagerItemTemplate = "<span class=\"able\">{0}</span>",//可用按钮 模版
                FirstPageText = "首页",
                PrevPageText = "上一页",
                NextPageText = "下一页",
                LastPageText = "末页",
                PageIndexBoxId = "pagebox",
                GoToButtonId = "goBtn"
            })
            <span class="IsPageGo"><input type="text" class="IsPage" /><input type="button" value="GO" class="PageGo"/></span>
        </div>
    </div>

<style type="text/css">
.Display {
    pointer-events: none;
}
</style>

<script type="text/javascript">
    $(function () {
        if (Cookie.get("ContentListShow") == 1)
            $("#NotIsShow").attr("checked", "checked")
        else
            $("#NotIsShow").removeAttr("checked");
        $("#NotIsShow").click(function () {
            Cookie.set("ContentListShow", $("#NotIsShow").prop("checked") ? "1" : "0", "")
        })
        $(".SaveBut").click(function () {
            location.href="@Url.Action("Index", "ContentList")"
        })
        $(".PageGo").click(function () {
            location.href = "@Url.Action("Index", "ContentList")?pageIndex=" + $(".IsPage").val();
        })
        var IsPageItems = 0;
        $(".PageItems").click(function () {
            IsPageItems = $(".PageItems").val();
            $(this).removeAttr("readonly")
        })
        $(".PageItems").blur(function () {
            if (IsPageItems != $(".PageItems").val())
            {
                location.href = "@Url.Action("Index", "ContentList")?pageItems=" + $(".PageItems").val();
            }
            $(this).attr("readonly", "readonly")
        })
        var _Title = "";
        $(".Edit").click(function () {
            var Rows = $(this).parents("td").attr("id");
            var IsEdit = $(this).children("i").hasClass("fa-pencil");
            if (IsEdit) {
                $(".tr" + Rows).find("input").removeAttr("readonly").css("background-color", "#fff");
                $("#Show" + Rows).removeAttr("disabled").css("background-color", "#fff");
                $(this).children("i").removeClass("fa-pencil").addClass("fa-remove")
                $(".tr" + Rows).find(".Save").show();
                $(".tr" + Rows).find(".ThisMain").hide();
            }
            else {
                $(".tr" + Rows).find("input").attr("readonly", "readonly").css("background-color", "#dbdbdb");
                $("#Show" + Rows).attr("disabled", "disabled").css("background-color", "#dbdbdb");
                $(this).children("i").removeClass("fa-remove").addClass("fa-pencil")
                $(".tr" + Rows).find(".Save").hide();
                $(".tr" + Rows).find(".ThisMain").show();
            }
        })
        $(".Save").click(function () {
            var Rows = $(this).parents("td").attr("id");
            $.ajax({
                url: "@Url.Action("EditContent", "ContentList")",
                type: "post",
                data: {
                    id: Rows,
                    Title: $(".tr" + Rows).find("Title").val(),
                    Img: $(".tr" + Rows).find("Img").val(),
                    Label: $(".tr" + Rows).find("Label").val()
                },
                success: function (result) {
                    if (result.toLowerCase() == "true")
                    {
                        window.wxc.xcConfirm("修改成功", window.wxc.xcConfirm.typeEnum.success);
                        $(".ok,.clsBtn").click(function () {
                            $(".tr" + Rows).find("input").attr("readonly", "readonly").css("background-color", "#dbdbdb");
                            $("#Show" + Rows).attr("disabled", "disabled").css("background-color", "#dbdbdb");
                            $(".tr" + Rows).find(".Edit").children("i").removeClass("fa-remove").addClass("fa-pencil")
                            $(".tr" + Rows).find(".Save").hide();
                            $(".tr" + Rows).find(".ThisMain").show();
                        });
                    }
                    else
                        window.wxc.xcConfirm("修改失败", window.wxc.xcConfirm.typeEnum.error);
                    setTimeout(function () { $(".ok").click() }, 2000)
                }
            })
        })
        $(".IsShowOne").click(function () {
            var id=$(this).attr("id")
            var isShow=$(this).attr("isShow")
            $.ajax({
                url: "@Url.Action("ListShow", "ContentList")",
                data: { id: $(this).attr("id"), isShow: $(this).attr("isShow") },
                type: "post",
                success: function (result) {
                    var txt = isShow == "True" ? "启用文章展示" : "隐藏文章";
                    if (result.toLowerCase() == "true")
                    {
                        window.wxc.xcConfirm(txt+"成功", window.wxc.xcConfirm.typeEnum.success);
                        $(".ok,.clsBtn").click(function () {
                            $(".tr" + id).find(".IsShowOne").find("i").attr("title", isShow.toLowerCase() == "true" ? "展示" : "隐藏").attr("class", isShow.toLowerCase() == "true" ? "fa fa-ban" : "fa fa-check-square-o");
                            $(".tr" + id).find(".IsShowOne").attr("isShow", isShow.toLowerCase() == "true" ? "False" : "True")
                        })
                    }
                    else
                        window.wxc.xcConfirm(txt+"失败", window.wxc.xcConfirm.typeEnum.error);
                    setTimeout(function () { $(".ok").click() }, 2000)
                }
            })
        })
    })
</script>
</body>
</html>
