@model Testboker.admin.Models.ListViewModel
@using Webdiyer.WebControls.Mvc;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/Index.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/Default.js"></script>
    <script src="~/scripts/xcConfirm/xcConfirm.js"></script>
    <link href="~/scripts/xcConfirm/Css/xcConfirm.css" rel="stylesheet" />
    <link href="~/scripts/jQueryTime/Css/calendar.css" rel="stylesheet"  type="text/css"/>
    <script src="~/scripts/jQueryTime/calendar.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="Main">
        <div class="Select">
            <label>标题：</label><input class="ItemTitle" type="text" />
            <label>内容：</label><input class="ItemMain" type="text" />
            <label>标签：</label><input class="ItemLabel" type="text" />
            <label>作者：</label><input class="ItemAuthor" type="text" />
            <input type="button" class="SaveBut" value="查询" />
            <input id="NotIsShow" class="NotIsShow" type="checkbox" /><label for="NotIsShow">屏蔽不展示内容</label>
            <a class="AddContent" href="@Url.Action("ContentItem","ContentList")" title="新增文章">新增</a><br />

            <label>添加时间：</label><input class="AddTime1" id="AddTime1" type="text"/>-<input class="AddTime2" id="AddTime2" type="text" />
            <label>最后修改时间：</label><input class="LastTime1" id="LastTime1" type="text" />-<input class="LastTime2" id="LastTime2" type="text" />
            
            
        </div>
        <div class="ContentLists">
            <table class="ContentList">
                <tr class="TableTiTle">
                    <td>序号</td>
                    <td>作者</td>
                    <td>标题</td>
                    <td>图片</td>
                    <td>标签</td>
                    <td>上传时间</td>
                    <td>最后修改时间</td>
                    <td>操作</td>
                </tr>
                @foreach (var item in Model.ContentList)
                {
                    <tr class="tr@(item.Id)">
                        <td>@(Model.ContentList.IndexOf(item) + (Model.ContentList.CurrentPageIndex - 1) * Model.ContentList.PageSize+1)</td>
                        <td><input type="text" readonly="readonly" class="Author" value="@item.Author" /></td>
                        <td><input type="text" readonly="readonly" class="Title" value="@item.Title"/></td>
                        <td>@item.Img</td>
                        <td><input type="text" readonly="readonly" class="Label" value="@item.Label" /></td>
                        <td>@item.Time</td>
                        <td>@item.LastTime</td>
                        <td class="Operation" width="80px" id="@(item.Id)">
                            <a class="IsShowOne" title="@Html.Encode(item.IsShow ? "隐藏" : "展示")" id="@item.Id" isShow="@((!item.IsShow).ToString())"><i class='fa @Html.Encode(item.IsShow ? "fa-ban" : "fa-check-square-o")'></i></a>
                            <a class="Edit" href="#" title="修改"><i class="fa fa-pencil"></i></a>
                            <a class="Save hides" href="#" title="确认修改"><i class="fa fa-check"></i></a>
                            <a class="ThisMain" href="@Url.Action("ContentItem","ContentList",new {id=item.Id })" title="详情/修改"><i class="fa fa-list"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="Foot">
            <span class="Page">当前第@(Model.ContentList.CurrentPageIndex)页/共@(Math.Ceiling((decimal)Model.ContentList.TotalItemCount / Model.ContentList.PageSize))页</span>
            <span>每页&nbsp;<input type="text" class="PageItems" readonly="readonly" value="@Model.PageItems"/>行&nbsp;/共@(Model.ContentList.TotalItemCount)条记录</span>
            <span class="PageInfo @(Model.ContentList.TotalItemCount <= Model.ContentList.PageSize ? "hide" : "")">
                @Html.Pager(Model.ContentList, new PagerOptions
                   {
                       NumericPagerItemCount = 5,
                       PageIndexParameterName = "pageIndex",//控制器参数
                       ContainerTagName = "span",//分页容器形式（默认是div）
                       CssClass = "NumPager",//容器css class
                       ShowMorePagerItems = false,//“更多”按钮不显示
                       CurrentPagerItemTemplate = "<span class=\"current\">{0}</span>",//当前按钮 模版
                       DisabledPagerItemTemplate = "<span class=\"disable\">{0}</span>",//不可用按钮 模版
                       PagerItemTemplate = "<span class=\"able\">{0}</span>",//可用按钮 模版
                       FirstPageText = "首页",
                       PrevPageText = "上一页",
                       NextPageText = "下一页",
                       LastPageText = "末页",
                       PageIndexBoxId = "pagebox",
                       GoToButtonId = "goBtn"
                   })
            </span>
            <span class="IsPageGo"><input type="text" class="IsPage" /><input type="button" value="GO" class="PageGo"/></span>
        </div>
    </div>

<style type="text/css">
.Display {
    pointer-events: none;
}
</style>

<script type="text/javascript">
    $(function () {
        $(".AddTime1,.AddTime2,.LastTime1,.LastTime2").focus(function () {
            if ($("#" + $(this).attr("id") + "Calendar").length == 0) {
                $(this).calendar({
                    upperLimit: new Date(),
                    lowerLimit: new Date("2011/01/01")
                });
            }
        })
        if (Cookie.get("ContentListShow") == 1)
            $("#NotIsShow").attr("checked", "checked")
        else
            $("#NotIsShow").removeAttr("checked");
        $("#NotIsShow").click(function () {
            Cookie.set("ContentListShow", $("#NotIsShow").prop("checked") ? "1" : "0", "")
        })
        $(".SaveBut").click(function () {
            var where = ""; 
            $(".ItemTitle").val() == "" ? where += "":where += "\"Title\":\"" + $(".ItemTitle").val() + "\","
            $(".ItemMain").val() == "" ? where += "" : where += "\"Content\":\"" + $(".ItemMain").val() + "\","
            $(".ItemLabel").val() == "" ? where += "" : where += "\"Label\":\"" + $(".ItemLabel").val() + "\","
            $(".ItemAuthor").val() == "" ? where += "" : where += "\"Author\":\"" + $(".ItemAuthor").val() + "\","
            $(".LastTime1").val() == "" ? where += "" : where += "\"LastTime1\":\"" + $(".LastTime1").val() + "\","
            $(".LastTime2").val() == "" ? where += "" : where += "\"LastTime2\":\"" + $(".LastTime2").val() + "\","
            $(".AddTime1").val() == "" ? where += "" : where += "\"Time1\":\"" + $(".AddTime1").val() + "\","
            $(".AddTime2").val() == "" ? where += "" : where += "\"Time2\":\"" + $(".AddTime2").val() + "\","
            where = where == "" ? "" : "{" + where.substring(0, where.length - 1) + "}"
            location.href = "@Url.Action("Index", "ContentList")?where="+ where;
        })
        $(".PageGo").click(function () {
            location.href = "@Url.Action("Index", "ContentList")?pageIndex=" + $(".IsPage").val();
        })
        var IsPageItems = 0;
        $(".PageItems").click(function () {
            IsPageItems = $(".PageItems").val();
            $(this).removeAttr("readonly")
        })
        $(".PageItems").blur(function () {
            if (IsPageItems != $(".PageItems").val())
            {
                location.href = "@Url.Action("Index", "ContentList")?pageItems=" + $(".PageItems").val();
            }
            $(this).attr("readonly", "readonly")
        })
        var _Title = "";
        $(".Edit").click(function () {
            var Rows = $(this).parents("td").attr("id");
            var IsEdit = $(this).children("i").hasClass("fa-pencil");
            if (IsEdit) {
                $(".tr" + Rows).find("input").removeAttr("readonly").css("background-color", "#fff");
                $("#Show" + Rows).removeAttr("disabled").css("background-color", "#fff");
                $(this).children("i").removeClass("fa-pencil").addClass("fa-remove")
                $(".tr" + Rows).find(".Save").show();
                $(".tr" + Rows).find(".ThisMain").hide();
            }
            else {
                $(".tr" + Rows).find("input").attr("readonly", "readonly").css("background-color", "#dbdbdb");
                $("#Show" + Rows).attr("disabled", "disabled").css("background-color", "#dbdbdb");
                $(this).children("i").removeClass("fa-remove").addClass("fa-pencil")
                $(".tr" + Rows).find(".Save").hide();
                $(".tr" + Rows).find(".ThisMain").show();
            }
        })
        $(".Save").click(function () {
            var Rows = $(this).parents("td").attr("id");
            $.ajax({
                url: "@Url.Action("EditContent", "ContentList")",
                type: "post",
                data: {
                    id: Rows,
                    Title: $(".tr" + Rows).find(".Title").val(),
                    Author: $(".tr" + Rows).find(".Author").val(),
                    Label: $(".tr" + Rows).find(".Label").val()
                },
                success: function (result) {
                    if (result.toLowerCase() == "true")
                    {
                        window.wxc.xcConfirm("修改成功", window.wxc.xcConfirm.typeEnum.success);
                        $(".ok,.clsBtn").click(function () {
                            $(".tr" + Rows).find("input").attr("readonly", "readonly").css("background-color", "#dbdbdb");
                            $("#Show" + Rows).attr("disabled", "disabled").css("background-color", "#dbdbdb");
                            $(".tr" + Rows).find(".Edit").children("i").removeClass("fa-remove").addClass("fa-pencil")
                            $(".tr" + Rows).find(".Save").hide();
                            $(".tr" + Rows).find(".ThisMain").show();
                        });
                    }
                    else
                        window.wxc.xcConfirm("修改失败", window.wxc.xcConfirm.typeEnum.error);
                    setTimeout(function () { $(".ok").click() }, 2000)
                }
            })
        })
        $(".IsShowOne").click(function () {
            var id=$(this).attr("id")
            var isShow=$(this).attr("isShow")
            $.ajax({
                url: "@Url.Action("ListShow", "ContentList")",
                data: { id: $(this).attr("id"), isShow: $(this).attr("isShow") },
                type: "post",
                success: function (result) {
                    var txt = isShow == "True" ? "启用文章展示" : "隐藏文章";
                    if (result.toLowerCase() == "true")
                    {
                        window.wxc.xcConfirm(txt+"成功", window.wxc.xcConfirm.typeEnum.success);
                        $(".ok,.clsBtn").click(function () {
                            $(".tr" + id).find(".IsShowOne").find("i").attr("title", isShow.toLowerCase() == "true" ? "展示" : "隐藏").attr("class", isShow.toLowerCase() == "true" ? "fa fa-ban" : "fa fa-check-square-o");
                            $(".tr" + id).find(".IsShowOne").attr("isShow", isShow.toLowerCase() == "true" ? "False" : "True")
                        })
                    }
                    else
                        window.wxc.xcConfirm(txt+"失败", window.wxc.xcConfirm.typeEnum.error);
                    setTimeout(function () { $(".ok").click() }, 2000)
                }
            })
        })
    })
</script>
</body>
</html>
