<div class="Nav">
    <ul>
        <li><a href="#" Url="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;<span>主页</span></a></li>
        <li><a href="#" Url="@Url.Action("Index","Banner")"><i class="fa fa-image" aria-hidden="true"></i>&nbsp;<span>Banner</span></a></li>
        <li><a href="#" Url="@Url.Action("Index", "ContentList")"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;<span>文章内容</span></a></li>
        <li><a href="#" Url="@Url.Action("Index","Exhibition")"><i class="fa fa-window-restore" aria-hidden="true"></i>&nbsp;<span>作品展示</span></a></li>
        <li><a href="#" Url="@Url.Action("VisitOpinions","VisitMainList")"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<span>访客提议</span></a></li>
        <li><a href="#" Url="@Url.Action("VisitArticle","VisitMainList")"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;<span>访客投稿</span></a></li>
        <li><a href="#" Url="@Url.Action("VisitList","VisitMainList")"><i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;<span>访问情况</span></a></li>
    </ul>
</div>
